@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@plugin 'tailwindcss-animate';
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    /* static colors, not depend on the theme */
    --color-c-white: var(--color-zinc-50);

    /* colors */
    --color-background: var(--color-zinc-50);
    --color-background-muted: color-mix(
        in oklch,
        var(--color-gray-200) 30%,
        transparent
    );
    --color-background-elevated: color-mix(
        in oklch,
        var(--color-gray-200) 80%,
        transparent
    );

    --color-foreground: var(--color-zinc-800);

    --color-text-light: var(--color-zinc-100);
    --color-text: var(--color-zinc-800);
    --color-text-inverse: var(--color-zinc-50);

    --color-header: var(--color-zinc-50);

    --color-footer: color-mix(in oklch, var(--color-gray-200) 30%, transparent);
    --color-border: var(--color-zinc-200);
}

@layer base {
    html {
        height: 100%;
    }
    body {
        background: var(--color-background);
        color: var(--color-text);
        font-family: "Jost", sans-serif !important;
        width: 100%;
        min-height: 100%;
        overflow-x: hidden;
    }
}

/* Utilities */
.container-custom {
    @apply xl:container mx-auto px-6 md:px-8;
}

/* Lightbox Customization */
:root {
    --yarl__thumbnails_thumbnail_background: transparent;
    --yarl__thumbnails_thumbnail_active_border_color: #94a3b8;
    --yarl__thumbnails_thumbnail_border_color: #e2e8f0;
}

.yarl__thumbnails_thumbnail {
    border-radius: 8px !important;
    overflow: hidden !important;
    padding: 2px !important;
}

.yarl__thumbnails_thumbnail_active {
    border-color: var(
        --yarl__thumbnails_thumbnail_active_border_color
    ) !important;
}
