@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

@plugin 'tailwindcss-animate';
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    /* static colors, not depend on the theme */
    --color-c-white: var(--color-zinc-50);

    /* colors */
    --color-background: var(--color-zinc-50);
    --color-background-muted: color-mix(
        in oklch,
        var(--color-gray-200) 30%,
        transparent
    );

    --color-foreground: var(--color-zinc-800);

    --color-text-light: var(--color-zinc-00);
    --color-text: var(--color-zinc-800);
    --color-text-inverse: var(--color-zinc-50);

    --color-header: var(--color-zinc-50);

    --color-footer: color-mix(in oklch, var(--color-gray-200) 30%, transparent);
    --color-border: var(--color-zinc-200);
}

@layer base {
    body {
        background: var(--color-background);
        color: var(--color-text);
        font-family: "Jost", sans-serif !important;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;
    }
}

/* Utilities */
.container-custom {
    @apply container mx-auto px-6 lg:px-8;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
